ldap_server ldap1 {
    url ldap://${LDAP_HOST}:${LDAP_TCP_PORT}/${LDAP_SEARCH_DN}?${LDAP_UID_ATTR}?${LDAP_SEARCH_SCOPE}?${LDAP_SEARCH_FILTER};
    binddn "${LDAP_BIND_USERNAME}";
    binddn_passwd "${LDAP_BIND_PASSWORD}";
    group_attribute uniquemember;
    group_attribute_is_dn on;
    require valid_user;
}

server {
    listen 443 default ssl;
    
    access_log  /var/log/nginx/access.log ftbpro;
    error_log  /var/log/nginx/error.log;

    root /srv/www;
    index index.html;

    auth_ldap "Forbidden";
    auth_ldap_servers ldap1;

    location / {

    }
    location ~ ^/_aliases$ {
        proxy_pass http://${ELASTICSEARCH_HOST}:${ELASTICSEARCH_TCP_PORT};
        proxy_read_timeout 90;
    }
    location ~ ^/.*/_aliases$ {
        proxy_pass http://${ELASTICSEARCH_HOST}:${ELASTICSEARCH_TCP_PORT};
        proxy_read_timeout 90;
    }
    location ~ ^/_nodes$ {
        proxy_pass http://${ELASTICSEARCH_HOST}:${ELASTICSEARCH_TCP_PORT};
        proxy_read_timeout 90;
    }
    location ~ ^/.*/_search$ {
        proxy_pass http://${ELASTICSEARCH_HOST}:${ELASTICSEARCH_TCP_PORT};
        proxy_read_timeout 90;
    }
    location ~ ^/.*/_mapping {
        proxy_pass http://${ELASTICSEARCH_HOST}:${ELASTICSEARCH_TCP_PORT};
        proxy_read_timeout 90;
    }

    location = /robots.txt  { access_log off; log_not_found off; }
    location = /favicon.ico { access_log off; log_not_found off; }
    location ~ /\.          { access_log off; log_not_found off; deny all; }
    location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
        expires max;
        add_header Pragma public;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
    }
}
